{{/* News Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "news" }}
{{ $items_offset := $st.Params.content.offset | default 0 }}
{{ $items_count := $st.Params.content.count }}
{{ if eq $items_count 0 }}
{{ $items_count = 65535 }}
{{ else }}
{{ $items_count = $items_count | default 5 }}
{{ end }}
{{ $items_sort := $st.Params.content.order | default "desc" }}

{{/* Query */}}
{{ $query := where site.RegularPages "Type" $items_type }}
{{ $archive_page := site.GetPage "Section" $items_type }}

{{/* Filters */}}
{{ if $st.Params.content.filters.exclude_future }}
{{ $query = where $query "Date" "<" now }}
{{ end }}

{{ $count := len $query }}

{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

{{/* Offset and Limit */}}
{{ if gt $items_offset 0 }}
{{ $query = first $items_count (after $items_offset $query) }}
{{ else }}
{{ $query = first $items_count $query }}
{{ end }}

{{/* Localisation */}}
{{ $i18n := "" }}

{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row">
    {{ if $st.Title }}
    <div class="col-12 col-lg-4 section-heading">
    {{ with $st.Title }}<h1>{{.}}</h1>{{ end }}
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    </div>
    {{end}}
    <div class="col-12 {{if eq $columns "2"}}col-lg-8{{end}}">
        {{ range $post := $query }}
        {{ partial "li_news" . }}
        {{end}}

        {{ if gt $count $items_count }}
        <div class="see-all">
            <a href="{{ $archive_page.RelPermalink }}">
                {{ i18n $i18n | default "See all" }}
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
        {{ end }}
    </div>
</div>